.input {
  outline: 0;
  height: 38px;
  width: 300px;
  margin: 10px 0;
  padding: 20px 0;
  padding-right: 20px;
  width: 100%;
  letter-spacing: 0.01rem;
  background-color: transparent;
  color: #1a1a1a;
  font-size: 2rem;
  border-bottom: 2px solid var(--gray);
}

.input::placeholder {
  color: var(--gray);
}
