.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 128px;
  font-size: 1.9rem;
  padding: 6px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 6px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    filter: brightness(0.9);
  }
}
