@media (max-width: 1199px) {
  .form {
    --space: 4vw;
  }
}
@media (min-width: 1200px) {
  .form {
    --space: 3.6vw;
  }
}
.form {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  border-radius: 4px;
  width: 90vw;
  height: 450px;
  max-width: 1100px;
  background-color: hsl(7deg 5% 9% / 85%);
  box-shadow: 0 0 2px #1e1d1da0;

  .cushion {
    position: absolute;
    background-color: #ffffff;
    width: calc(60% - var(--space) * 2);
    top: -10%;
    bottom: -10%;
    border-radius: 4px;
    box-shadow: 0 0 5px #696969;
  }
}

.form[state="SIGN UP"] {
  flex-direction: row;
}

.form[state="SIGN UP"] .cushion {
  animation: formLeft linear 0.6s forwards;
}
@keyframes formLeft {
  0% {
    left: calc(100% - var(--space));
    transform: translateX(-100%);
  }
  40% {
    left: 0vw;
    transform: translateX(0%);
  }
  60% {
    left: var(--space);
  }
  80% {
    left: calc(var(--space) + 0.5vw);
  }
  100% {
    left: var(--space);
    transform: translateX(0%);
  }
}

.form[state="LOG IN"] .cushion {
  animation: formRight linear 0.6s forwards;
}
@keyframes formRight {
  0% {
    left: var(--space);
    transform: translateX(0%);
  }
  40% {
    left: calc(100% - 0vw);
    transform: translateX(-100%);
  }
  60% {
    left: calc(100% - var(--space));
  }
  80% {
    left: calc(100% - var(--space) - 0.5vw);
  }
  100% {
    left: calc(100% - var(--space));
    transform: translateX(-100%);
  }
}

.body,
.sub {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  height: 100%;
}

.body {
  align-items: center;
  padding: 0 calc(var(--space) * 2);
  width: 60%;

  .title {
    font-size: 3.2rem;
    color: var(--primary);
    font-weight: normal;
    align-self: flex-start;
    margin-bottom: 60px;
  }

  > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: auto;

    > p {
      font-size: 2rem;
      color: var(--gray);
    }

    .button {
      width: 168px;
      border-color: var(--primary);
      background-color: var(--primary);
      margin-bottom: 30px;
    }
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin: 6px 0;
    input {
      width: 100%;
    }
  }

  .icon {
    position: absolute;
    right: 0;
    width: 18px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--gray);
  }
  .passwordIcon {
    width: 22px;
    right: 30px;
    cursor: pointer;
  }

  .message {
    position: absolute;
    bottom: -20px;
    font-size: 1.5rem;
    color: var(--primary);
  }
}

.form[state="LOG IN"] .body .title {
  margin-bottom: 80px;
}

.form[state="SIGN UP"] .sub {
  padding-right: var(--space);
}
.form[state="LOG IN"] .sub {
  padding-left: var(--space);
}

.sub {
  justify-content: center;
  width: 40%;
  transition: ease 0.5s;

  .title {
    font-size: 3.2rem;
    font-weight: 100;
    padding: 10px 0;
  }
  .content {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .button {
    margin-top: 40px;
  }
}
